##  Proceso de entrenamiento

### librerias

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [3]:
dataset = pd.read_csv('train_output.csv')
dataset.head(10)

,Unnamed: 0,index,age,gender_code,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,gender
0,2010,2016,41,1,1,1625,765,6,1571,1,...,68.02,104,672.140000,1588,1976,1746,1746,613,1,0
1,4875,4884,63,0,1,1368,744,7,1423,1631,...,309.37,104,523.630000,1912,1524,1746,1746,603,1,1
2,43,43,17,1,1,1368,390,3,1423,1631,...,348.07,23,824.950000,1912,1976,1746,1746,155,0,0
3,685,685,57,1,1,1625,420,3,1571,1,...,802.66,315,758.590000,1588,1976,1746,1746,155,0,0
4,3155,3163,34,0,1,507,744,7,1423,1631,...,62.16,116,590.400000,1912,1524,1754,418,588,1,1
5,608,608,16,0,1,507,744,5,1571,1,...,75.54,122,655.740000,1912,1524,1746,1746,613,1,1
6,5155,5166,51,1,1,1625,744,3,1571,2,...,410.56,123,281.858576,1912,1524,1754,458,603,1,0
7,4864,4873,34,1,1,1368,525,3,1571,1,...,113.20,132,759.280000,1588,1976,1754,438,554,0,0
8,1135,1137,22,1,1,1368,744,7,1571,1,...,30.08,137,643.150000,1912,1524,1754,418,588,1,0
9,265,265,27,0,1,507,765,6,1571,1,...,304.09,131,549.410000,1588,1976,1754,440,554,1,1

In [4]:
X = dataset.drop(['gender'], axis=1)
y = dataset['gender']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=2022)

In [ ]:
svm = GridSearchCV(SVC(), {'C': [0.1, 1, 10, 100], 'kernel': ['linear', 'rbf']}, cv=10).fit(X_train, y_train)
randomForest = GridSearchCV(RandomForestClassifier(), {'n_estimators': [20, 50, 100, 500, 1000], 
                                                        'max_depth': [10, 100, 500]}).fit(X_train, y_train)